.card {
	border: 4px double white;
	background-color: #0b0d0f;
	padding: 0.5rem;

	.cardImg {
		display: block;
		width: 100%;
		max-width: 100%;
		border: 1px solid white;
		&:hover {
			transition: 1.5s;
			filter: grayscale(100%);
		}
	}
	.cardInfo {
		padding: 0 1rem;
	}

	.cardDescription {
		font-weight: bold;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
}
